<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Subsidiary Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Subsidiary Management System</h1>
    <hr>
    <h2>Save Subsidiary</h2>

    <form action="#" th:action="@{/saveSubsidiary}" th:object="${subsidiary}" method="POST">
        <input type="text" th:field="*{name}" placeholder="Subsidiary Name" class="form-control mb-4 col-5">

        <input type="text" th:field="*{country}" placeholder="Subsidiary Country" class="form-control mb-4 col-5">

        <button type="submit" class="btn btn-info col-5"> Save Subsidiary</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Subsidiary List</a>
</div>
</body>

</html>